 
 

ul>li>a{

    margin: 10px 10px;
    font-size: 15px;
    font-weight: bolder;
     
}
li>a{

    color: black;
}

.navbar-brand{
    color: black;
}

.nav-item a{
    color: black;
}

/* //nav */

/* ////carousel-caption */


.carousel-caption h1{

  color: white;
  font-weight: bolder;



}

.carousel-caption a{

  text-decoration: none;
  color: black;
}

.carousel-item img{

  object-fit: cover;
}



.seabeach img{

  border-radius: 15px;
}



.package-price{

color: #221D4F;
font-weight: bolder;
}

.card-top{
  background-color:#221D4F ;
  border-radius: 10px;
   

}
.card-top-body{

  color: white;
  box-shadow: 1px 5px 45px gray;
}

.card-footer button{

   background-color: #FDF4FA;
   border-radius: 15px; 
   text-align: center;

}

.card-top-footer button{

  background-color: white; 
  border-radius: 20px; 
  text-align: center; 

}

.card-title{
  color: #221D4F;
font-weight: bolder;

}
.card-text{
  color: #221D4F;

}

.toast-bg{

  background-color:  #221D4F; 
  color: white;
}

.submit{

   background-color:  #221D4F; 
    border-radius: 15px; 
    color:white; 
    text-align:center"

}

.family img{
  width: 500px; 
  height:500px; 
  border-radius: 15px;


}

footer{

  background-color: #221D4F;
  height: 250px;
}
footer p{

  color: white;
}
footer a{

  text-decoration: none;
  color: white;
}

.google{
  color: white;
}

.apple{
  color: white;

}

 
   